*{
    background-color: black;
}

#cat{
    color: white;
    font-family: 'Updock',sans-serif,cursive;
    font-size: 4rem;
    margin: 4% 45% 0;
    font-weight: 100;
}
#cat:hover{
    color: yellow;
}