 a{
    font-size: 6rem;
    color: #fff ;
    margin-left: 5%;
    font-family: 'Updock', cursive;
    text-decoration: none;
   
}
 a:hover{
     color: yellow;
 }

.header{
    border-bottom: 1px solid yellow;
    margin-bottom: 40px;
}

