@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Whisper&display=swap');

body {
  font-family: 'Lobster', cursive;
  font-weight: 100;
  line-height: 1.7;
  color: $color-grey-dark;
}
