*{
    background-color: black;
    color: white;
    font-family:'Updock', cursive;
    text-align: center;
    
}
#header{
    font-size: 5rem;
    text-align: left;
    padding-left: 150px;
}
